* {margin: 0;padding: 0;}
body {margin: 10px;font: small Arial, Helvetica, sans-serif;color: #385B88;}
h1, h2, h3 {font-family: Georgia, "Times New Roman", Times, serif;color: #385B88;}
h2 {font-size: 2em;font-weight: normal;}
p {line-height: 1.4em;text-align: justify;}
ul {margin-left: 3em;}
a {text-decoration: none;}
a:hover {text-decoration: underline;}
.boxed {	margin-bottom: 5px;}
#updates a {COLOR: #222222;}
blockquote, ul, ol {margin-bottom: 1.4em;line-height: 1.4em;text-align: justify;}
.titleline{LINE-HEIGHT: 18px; BORDER-BOTTOM: #9FA4FF 1px solid; HEIGHT: 18px}
#menu {
	float: right;
}
.boxed .content {
	padding: 1px;
	border: 1px solid #9FA4FF;
	color: #385B88;		
}
.forminputcontent
{
	width: 400px;
	border: 1px solid #9FA4FF;
	background-color: #FFFFEE;
}
TABLE.countrytable {
	BORDER-RIGHT: #9FA4FF 1px solid; BORDER-TOP: #9FA4FF 1px solid; BACKGROUND: #fffff; MARGIN: 1em 1em 1em 0px; BORDER-LEFT: #9FA4FF 1px solid; BORDER-BOTTOM: #9FA4FF 1px solid; BORDER-COLLAPSE: collapse
}
.countrytable TD {
	BORDER-RIGHT: #9FA4FF 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #9FA4FF 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #9FA4FF 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #9FA4FF 1px solid
}
.countrytable TH {
	BORDER-RIGHT: #aaa 1px solid; PADDING-RIGHT: 0.2em; BORDER-TOP: #aaa 1px solid; PADDING-LEFT: 0.2em; PADDING-BOTTOM: 0.2em; BORDER-LEFT: #aaa 1px solid; PADDING-TOP: 0.2em; BORDER-BOTTOM: #aaa 1px solid
}
#header {
	width: 900px;
	height: 90px;
	margin: 0 auto;
	margin-top: -4px;
	margin-bottom: 5px;
	padding: 0px 0px 0px 0px;
	border-bottom: 1px solid #9FA4FF;
}
#logo {
	float: left;
	width: 140px;
	height: 90px;
}
#logo h1 {
	float: left;
	margin: 25px 0px 0px 0px;    /*UP,*,*,*,To the left*/
	padding: 0px 0 0 0;
	font-size: 2.1em;
}
#logo a {
	text-decoration: none;
	color: #EEEEEE;
}
#clrtd tr:hover
{
      background-color: #eeeeee;
	  cursor: pointer;
}
#clrtd2 td:hover
{
      background-color: #eeeeee;
	  cursor: pointer;
}
#content {
	width: 900px;
	margin: 0 auto;
	padding: -4px 0px 0px 0px;
	border-top: 1px solid #FFFFFF;
}
#main {float: left;width: 590px;}
#sidebar {float: right;width: 300px;}
.listline{LINE-HEIGHT: 20px; BORDER-BOTTOM: #e4e4e4 1px dashed; HEIGHT: 20px}
#footer {
	clear: both;
	width: 900px;
	margin: 0 auto;
	padding: 30px 0;
}
#nav
{
	margin: 0px 0px 5px 0px;
	padding: 4px 0px 2px 0px;
	border-bottom: 1px dotted #385B88;
	position: relative;
	height: 1.3em;
	font-size: 1.0em;
    font-family: Georgia, "Times New Roman", Times, serif;
}
#nav ul{display: inline;list-style: none;}
#nav li{float: left;margin: 0px 2px 0px 2px;color:#444444;}
#nav a{float: left;text-decoration: none;color:#444444;}
#nav a:hover{color: #0000ff;}
.homeintro{position: relative;width: 580px;margin: 0px auto 0px auto;border: 1px solid #9FA4FF;}
.homeintrored{position: relative;width: 580px;margin: 0px auto 0px auto;border: 1px solid #fFA49F;}
.homeintrogreen{position: relative;width: 580px;margin: 0px auto 0px auto;border: 1px solid #9Fffa4;}
.homeintronoborder{position: relative;width: 580px;margin: 0px auto 0px auto;}